.ajustes {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.ajuste-item {
  margin-bottom: 20px;
}

.ajuste-boton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
}

.ajuste-boton:hover {
  background-color: #0056b3;
}

.ajuste-icon {
  margin-right: 10px;
}

.ajuste-botones {
  display: flex;
  gap: 10px;
}